.drawer {

    //display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;

    animation: drv;



    .scrollItemsBlock {
        display: flex;
        flex-direction: column;
        height: 95%;
        overflow: auto;
    }


    .cartClose {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btnClose {
            background: #ffffffad;
            border: 1px solid #DCDCDC;
            border-radius: 8px;
            box-sizing: border-box;
            height: 35px;
            width: 35px;
            cursor: pointer;

            margin-bottom: 20px;

            &:hover {
                opacity: 0.5;
            }

            &:active {
                background: red;
            }

        }

    }

    h2 {
        margin: 0;
        margin-bottom: 20px;
    }

    .cardTotalBlock {

        ul {
            margin-bottom: 40px;
        }

        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
        }


        div {
            flex: 1;
            height: 1px;
            border-bottom: 1px dashed #dfdfdf;
            position: relative;
            top: -4px;
            margin: 0 7px;
        }
    }

}